{
  "openapi": "3.0.0",
  "info": {
    "title": "v2-api",
    "version": "1.4.3"
  },
  "servers": [
    {
      "url": "https://apitest.kompany.com"
    }
  ],
  "paths": {
    "/api/v2/application/callBack/{affectedService}": {
      "put": {
        "tags": [
          "v2-application"
        ],
        "summary": "Callback settings",
        "description": "Create or update callback settings for a certain affected service",
        "operationId": "createOrUpdateCallback",
        "parameters": [
          {
            "name": "affectedService",
            "in": "path",
            "description": "The service affected by the settings.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "liveSearch",
                "dataset",
                "enhanced",
                "productOrder",
                "uboOrder",
                "monitor",
                "pep",
                "kompanyMessages"
              ]
            },
            "example": "dataset"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/callbackSetting-schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/callback-schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "application_callback_1"
      },
      "get": {
        "tags": [
          "v2-application"
        ],
        "summary": "Callback setting retrieval",
        "description": "Retrieve callback settings for a certain affected service",
        "operationId": "getCallbackSetting",
        "parameters": [
          {
            "name": "affectedService",
            "in": "path",
            "description": "The service affected by the settings.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "liveSearch",
                "dataset",
                "enhanced",
                "productOrder",
                "uboOrder",
                "monitor",
                "pep",
                "kompanyMessages"
              ]
            },
            "example": "dataset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/callbackType-schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "application_callback_3"
      },
      "delete": {
        "tags": [
          "v2-application"
        ],
        "summary": "Callback setting deletion",
        "description": "Delete callback settings for a certain affected service",
        "operationId": "deleteCallbackSetting",
        "parameters": [
          {
            "name": "affectedService",
            "in": "path",
            "description": "The service affected by the settings.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "liveSearch",
                "dataset",
                "enhanced",
                "productOrder",
                "uboOrder",
                "monitor",
                "pep",
                "kompanyMessages"
              ]
            },
            "example": "dataset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "application_callback_4"
      }
    },
    "/api/v2/application/callBack": {
      "get": {
        "tags": [
          "v2-application"
        ],
        "summary": "Callback settings list",
        "description": "Retrieve the list of callback settings",
        "operationId": "listCallbackSettings",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/callbackSetting-schema"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "application_callback_2"
      }
    },
    "/api/v2/company/indexSearch": {
      "post": {
        "tags": [
          "v2-company"
        ],
        "summary": "Index search",
        "description": "Request an entity index search",
        "operationId": "requestEnityIndexSearch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/indexSearchRequest-schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/searchFormattedResultModel-schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "company_1"
      }
    },
    "/api/v2/company/liveSearch": {
      "post": {
        "tags": [
          "v2-company"
        ],
        "summary": "Live search",
        "description": "Request an entity live search",
        "operationId": "requestEnityLiveSearch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/liveSearchRequest-schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/searchFormattedResultModel-schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "company_2"
      }
    },
    "/api/v2/company/idSearch": {
      "post": {
        "tags": [
          "v2-company"
        ],
        "summary": "Id search",
        "description": "Request an entity id search",
        "operationId": "requestEnityIdSearch",
        "requestBody": {
          "description": "Search for company by id",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/idSearchRequest-schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/idSearchResponse-schema"
                }
              }
            }
          }
        },
        "x-sorting": "company_3"
      }
    },
    "/api/v2/company/dataset": {
      "post": {
        "tags": [
          "v2-company"
        ],
        "summary": "Dataset order",
        "description": "Request a dataset for a certain entity",
        "operationId": "orderDataset",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/datasetRequest-schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/datasetResponse-schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "company_4"
      },
      "get": {
        "tags": [
          "v2-company"
        ],
        "summary": "Dataset list",
        "description": "Retrieve the list of previously purchased dataset requests",
        "operationId": "listDatasets",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset-parameter"
          },
          {
            "$ref": "#/components/parameters/limit-parameter"
          },
          {
            "$ref": "#/components/parameters/status-parameter"
          },
          {
            "$ref": "#/components/parameters/datasetName-parameter"
          },
          {
            "$ref": "#/components/parameters/requestTimeFrom-parameter"
          },
          {
            "$ref": "#/components/parameters/requestTimeTo-parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/datasetResponse-schema"
                  },
                  "maxItems": 1
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "company_7"
      }
    },
    "/api/v2/company/dataset/{datasetId}": {
      "get": {
        "tags": [
          "v2-company"
        ],
        "summary": "Dataset retrieval",
        "description": "Retrieve information of a certain purchased dataset",
        "operationId": "getDatasetByDatasetId",
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "description": "Unique id of the dataset request.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "F75E3FE5C94019930B4195F667738D6C"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/datasetResponse-schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "company_5"
      }
    },
    "/api/v2/company/enhanced": {
      "post": {
        "tags": [
          "v2-company"
        ],
        "summary": "Enhanced order",
        "description": "Request an enhanced for a certain entity",
        "operationId": "orderEnhanced",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/enhancedDatasetRequest-schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/enhancedResponse-schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "company_6"
      }
    },
    "/api/v2/company/announcement": {
      "post": {
        "tags": [
          "v2-company"
        ],
        "summary": "Announcement",
        "description": "Request a list of public announcements for a certain entity",
        "operationId": "listCompanyAnnouncements",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset-parameter"
          },
          {
            "$ref": "#/components/parameters/limit-parameter"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/announcementRequest-schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "announcementResults",
                  "description": "Response scheme of/api/v2/company/announcement/{kompanyId}",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/announcementResponse-schema"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "company_8"
      }
    },
    "/api/v2/company/announcement/{kompanyId}/{announcementId}": {
      "get": {
        "tags": [
          "v2-company"
        ],
        "summary": "Announcement retrieval",
        "description": "Retrieve information of a certain announcement for an entity",
        "operationId": "getAnnouncementByAnnouncementId",
        "parameters": [
          {
            "$ref": "#/components/parameters/kompanyId-parameter"
          },
          {
            "name": "announcementId",
            "in": "path",
            "description": "Unique id of the announcement.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "17F9B790830D362237E209626649CBF1"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/announcementResponse-schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "company_9"
      }
    },
    "/api/v2/monitor": {
      "post": {
        "tags": [
          "v2-monitor"
        ],
        "summary": "Monitor registration",
        "description": "Request a monitor service for a certain entity",
        "operationId": "requestMonitorService",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createMonitorRequest-schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/monitorResponse-schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "monitor_1"
      },
      "get": {
        "tags": [
          "v2-monitor"
        ],
        "summary": "Monitor list",
        "description": "Retrieve the list of previously purchased monitor service requests",
        "operationId": "listMonitors",
        "parameters": [
          {
            "name": "kompanyId",
            "in": "query",
            "description": "Unique id of company element in subject. Static for a company for the lifetime.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "E41861C895CB1DDDDA93054179FFA172"
          },
          {
            "name": "status",
            "in": "query",
            "description": "The status of the monitor. Possible values are PENDING, CREATED, FIRED, DELETED.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "CREATED"
            }
          },
          {
            "$ref": "#/components/parameters/limit-parameter"
          },
          {
            "$ref": "#/components/parameters/offset-parameter"
          },
          {
            "$ref": "#/components/parameters/requestTimeFrom-parameter"
          },
          {
            "$ref": "#/components/parameters/requestTimeTo-parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/monitorResponse-schema"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "monitor_2"
      }
    },
    "/api/v2/monitor/{monitorId}": {
      "get": {
        "tags": [
          "v2-monitor"
        ],
        "summary": "Monitor retrieval",
        "description": "Retrieve information of a certain purchased monitor service request",
        "operationId": "getMonitorRequest",
        "parameters": [
          {
            "name": "monitorId",
            "in": "path",
            "description": "Id of a certain monitor request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of maximum results can be set with this option.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "10",
              "example": "50"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Page number to be requested.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "0",
              "example": "10"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/monitorResponse-schema"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "monitor_3"
      },
      "delete": {
        "tags": [
          "v2-monitor"
        ],
        "summary": "Monitor deletion",
        "description": "Delete a certain purchased monitor service request",
        "operationId": "deleteMonitorRequest",
        "parameters": [
          {
            "name": "monitorId",
            "in": "path",
            "description": "Id of a certain monitor request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "monitor_4"
      }
    },
    "/api/v2/monitor/{monitorId}/{changeId}": {
      "get": {
        "tags": [
          "v2-monitor"
        ],
        "summary": "Monitor change retrieval",
        "description": "Retrieve information of a certain change for a monitor service request",
        "operationId": "getMonitorChange",
        "parameters": [
          {
            "name": "monitorId",
            "in": "path",
            "description": "Id of a certain monitor request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "changeId",
            "in": "path",
            "description": "Id of a certain change request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/changeByIdResponse-schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "monitor_5"
      }
    },
    "/api/v2/application/monitorSettings": {
      "put": {
        "tags": [
          "v2-monitor"
        ],
        "summary": "Monitor settings",
        "description": "Create or update monitor settings",
        "operationId": "createOrUpdateMonitorSetting",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createMonitorSetting-schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createMonitorSetting-schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "monitor_6"
      },
      "get": {
        "tags": [
          "v2-monitor"
        ],
        "summary": "Monitor setting list",
        "description": "Retrieve the list of monitor settings",
        "operationId": "listMonitorSettings",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/createMonitorSetting-schema"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "monitor_7"
      }
    },
    "/api/v2/product/search/{kompanyId}": {
      "get": {
        "tags": [
          "v2-product"
        ],
        "summary": "Product search",
        "description": "Retrieve the list of possible products for a certain entity",
        "operationId": "listProductsForACompany",
        "parameters": [
          {
            "$ref": "#/components/parameters/kompanyId-parameter"
          },
          {
            "$ref": "#/components/parameters/productType-parameter"
          },
          {
            "$ref": "#/components/parameters/startDate-parameter"
          },
          {
            "$ref": "#/components/parameters/endDate-parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/productResponse-schema"
                  },
                  "maxItems": 1
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "product_order_1"
      }
    },
    "/api/v2/product/order": {
      "get": {
        "tags": [
          "v2-product"
        ],
        "summary": "Product order list",
        "description": "Retrieve the list of previously purchased product order requests",
        "operationId": "listProductOrders",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset-parameter"
          },
          {
            "$ref": "#/components/parameters/limit-parameter"
          },
          {
            "$ref": "#/components/parameters/status-parameter"
          },
          {
            "$ref": "#/components/parameters/productType-parameter"
          },
          {
            "$ref": "#/components/parameters/requestTimeFrom-parameter"
          },
          {
            "$ref": "#/components/parameters/requestTimeTo-parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/orderResponse-schema"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "product_order_2"
      },
      "post": {
        "tags": [
          "v2-product"
        ],
        "summary": "Product order",
        "description": "Request a product for a certain entity",
        "operationId": "orderProduct",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createProductOrderRequest-schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/orderResponse-schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "product_order_3"
      }
    },
    "/api/v2/product/order/ubo": {
      "post": {
        "tags": [
          "v2-product"
        ],
        "summary": "UBO discovery order",
        "description": "Request a UBO discovery report for a certain entity",
        "operationId": "orderUBODisvoceryReport",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createUboOrderRequest-schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/uboOrderResponse-schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "product_order_4"
      }
    },
    "/api/v2/product/order/concierge": {
      "post": {
        "tags": [
          "v2-product"
        ],
        "summary": "Business concierge order",
        "description": "Request a business concierge service for a certain entity",
        "operationId": "orderBusinessConciergeService",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/businessConciergeRequest-schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order Business Concierge",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/businessConciergeOrderResponse-schema"
                }
              }
            }
          }
        },
        "x-sorting": "product_order_5"
      }
    },
    "/api/v2/product/order/landRegister": {
      "post": {
        "tags": [
          "v2-product"
        ],
        "summary": "Land Register order",
        "description": "Request a Land Register document or extract",
        "operationId": "orderLandRegisterDocument",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/landRegisterRequest-schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order landRegister",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/landRegisterOrderResponse-schema"
                }
              }
            }
          }
        },
        "x-sorting": "product_order_6"
      }
    },
    "/api/v2/product/order/{orderId}": {
      "put": {
        "tags": [
          "v2-product"
        ],
        "summary": "Product order update",
        "description": "Update status of a certain purchased product order",
        "operationId": "updateProductOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/orderId-parameter"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createUpdateRequest-schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/orderResponse-schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "product_order_7"
      },
      "get": {
        "tags": [
          "v2-product"
        ],
        "summary": "Product order retrieval",
        "description": "Retrieve information of a certain purchased product order",
        "operationId": "getProductInformation",
        "parameters": [
          {
            "$ref": "#/components/parameters/orderId-parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/orderByIdResponse-schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "product_order_8"
      }
    },
    "/api/v2/product/order/{orderId}/content": {
      "get": {
        "tags": [
          "v2-product"
        ],
        "summary": "Product content retrieval",
        "description": "Retrieve content of a certain purchased product order",
        "operationId": "getProductOrderContent",
        "parameters": [
          {
            "$ref": "#/components/parameters/orderId-parameter"
          }
        ],
        "responses": {
          "400": {
            "description": "Wrong document type in header",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse-schema"
                }
              }
            }
          },
          "200": {
            "description": "Successful response",
            "headers": {
              "accept": {
                "description": "The document type of the requested product, value needs to be passed to the header/accept field when retrieving the content (e.g. application/json).",
                "schema": {
                  "type": "string",
                  "example": "application/pdf or application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/pdf": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "product_order_9"
      }
    },
    "/api/v2/system/monitorChangeTypes": {
      "get": {
        "tags": [
          "v2-system"
        ],
        "summary": "Monitor change types",
        "description": "Retrieve the list of available change types for a monitor service request",
        "operationId": "listMonitorChangeTypes",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/monitorChangeTypes-schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "system_5"
      }
    },
    "/api/v2/system/uboLegalTypes": {
      "get": {
        "tags": [
          "v2-system"
        ],
        "summary": "UBO discovery legal types",
        "description": "Retrieve the list of available legal types for a UBO discovery report",
        "operationId": "listUboLegalTypes",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/uboLegalTypes-schema"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "system_6"
      }
    },
    "/api/v2/system/coverage": {
      "get": {
        "tags": [
          "v2-system"
        ],
        "summary": "Coverage details",
        "description": "Retrieve coverage details on available sources, datasets, documents, searches and concierge services for each jurisdiction",
        "operationId": "listCoverageDetails",
        "parameters": [
          {
            "name": "countryCode",
            "in": "query",
            "description": "2 or 5-digit code for the country (e.g. AT, US-DE).",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "AT"
          },
          {
            "name": "countryConnectionType",
            "in": "query",
            "description": "The type of connection to the country's data sources (e.g. 'L': Live, 'RU': Live - Regular Updates, 'BC': Business Concierge, 'D': Discontinued, 'NC': Not Covered Yet).",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "L"
          },
          {
            "name": "continent",
            "in": "query",
            "description": "Continent on which the country is located (e.g. 'EU': Europe, 'AM': Asia and Middle East:, 'NA': North America, 'AF': Africa, 'OC': Oceania, 'SA': South America).",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "EU"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/jurisdiction-schema"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "system_7"
      }
    },
    "/api/v2/system/serviceMessages": {
      "get": {
        "tags": [
          "v2-system"
        ],
        "summary": "ServiceMessages list",
        "description": "Retrieve a list of serviceMessages",
        "operationId": "serviceMessagesList",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit-parameter"
          },
          {
            "$ref": "#/components/parameters/offset-parameter"
          },
          {
            "$ref": "#/components/parameters/messageAffectedCountry-parameter"
          },
          {
            "$ref": "#/components/parameters/messageAffectedService-parameter"
          },
          {
            "$ref": "#/components/parameters/messageCategory-parameter"
          },
          {
            "$ref": "#/components/parameters/messageStatus-parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Response schema",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/serviceMessageResponse-schema"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "system_8"
      }
    },
    "/api/v2/system/serviceMessages/{messageId}": {
      "get": {
        "tags": [
          "v2-system"
        ],
        "summary": "ServiceMessage by id",
        "description": "Retrieve a certain serviceMessage by messageId",
        "operationId": "serviceMessageById",
        "parameters": [
          {
            "$ref": "#/components/parameters/messageId-parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Response schema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/serviceMessageResponse-schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "system_9"
      }
    },
    "/api/v2/verification/isin": {
      "post": {
        "tags": [
          "v2-verification"
        ],
        "summary": "ISIN validation",
        "description": "Request an ISIN search and validation",
        "operationId": "requestISINValidation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/isinRequest-schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/isinResponse-schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "verification_1"
      }
    },
    "/api/v2/verification/ein": {
      "post": {
        "tags": [
          "v2-verification"
        ],
        "summary": "EIN validation",
        "description": "Request an EIN search and validation",
        "operationId": "requestEINValidation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/einRequest-schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/einResponse-schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "verification_2"
      }
    },
    "/api/v2/verification/iban": {
      "post": {
        "tags": [
          "v2-verification"
        ],
        "summary": "IBAN validation",
        "description": "Request a IBAN search and validation",
        "operationId": "requestIBANValidation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ibanRequest-schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ibanResponse-schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "verification_3"
      }
    },
    "/api/v2/verification/leiValidation": {
      "post": {
        "tags": [
          "v2-verification"
        ],
        "summary": "LEI validation",
        "description": "Request a LEI search and validation",
        "operationId": "requestLEIValidation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/leiValidationRequest-schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/leiValidationResponse-schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "verification_4"
      },
      "get": {
        "tags": [
          "v2-verification"
        ],
        "summary": "LEI validation list",
        "description": "Retrieve the list of previously purchased LEI validation requests",
        "operationId": "listLEIValidations",
        "parameters": [
          {
            "$ref": "#/components/parameters/status-parameter"
          },
          {
            "$ref": "#/components/parameters/offset-parameter"
          },
          {
            "$ref": "#/components/parameters/limit-parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/leiValidationResponse-schema"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "verification_6"
      }
    },
    "/api/v2/verification/leiValidation/{validationId}": {
      "get": {
        "tags": [
          "v2-verification"
        ],
        "summary": "LEI validation retrieval",
        "description": "Retrieve information of certain purchased LEI validation",
        "operationId": "getLEIValidation",
        "parameters": [
          {
            "name": "validationId",
            "in": "path",
            "description": "Id of a certain validation request.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ABCXXXX"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/leiValidationResponse-schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "verification_5"
      }
    },
    "/api/v2/verification/tin": {
      "post": {
        "tags": [
          "v2-verification"
        ],
        "summary": "TIN validation",
        "description": "Request a TIN search and validation",
        "operationId": "requestTINValidation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tinRequest-schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tinResponse-schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "verification_7"
      }
    },
    "/api/v2/verification/vat": {
      "post": {
        "tags": [
          "v2-verification"
        ],
        "summary": "VAT validation",
        "description": "Request a VAT search and validation",
        "operationId": "requestVATValidation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/vatRequest-schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/vatResponse-schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "user_key": []
          }
        ],
        "x-sorting": "verification_8"
      }
    }
  },
  "components": {
    "schemas": {
      "callbackSetting-schema": {
        "title": "callbackSetting",
        "description": "Callback table",
        "properties": {
          "callBackType": {
            "description": "The method how client wants to be notified.",
            "type": "string",
            "enum": [
              "stream",
              "webhook-post",
              "webhook-get"
            ],
            "example": "webhook-get"
          },
          "callBackUrl": {
            "description": "The url where callBack notification will be sent.",
            "type": "string",
            "example": "https://xyz.com/x/y/z/callback-path"
          }
        },
        "type": "object"
      },
      "serviceMessageResponse-schema": {
        "title": "serviceMessageResponse",
        "description": "KompanyMessage table",
        "properties": {
          "messageId": {
            "description": "ID of messages.",
            "type": "string"
          },
          "title": {
            "description": "Title of messages.",
            "type": "string"
          },
          "status": {
            "description": "Status of messages.",
            "type": "string"
          },
          "category": {
            "description": "Category of messages.",
            "type": "string"
          },
          "messageBodyEnglish": {
            "description": "Message body in English.",
            "type": "string"
          },
          "messageBodyGerman": {
            "nullable": true,
            "description": "Message body in German.",
            "type": "string"
          },
          "callToActionLabel": {
            "nullable": true,
            "description": "Call to action label.",
            "type": "string"
          },
          "callToActionUrl": {
            "nullable": true,
            "description": "Call to action URL.",
            "type": "string"
          },
          "createdTime": {
            "description": "Created time.",
            "type": "string"
          },
          "updatedTime": {
            "description": "Updated time.",
            "type": "string"
          },
          "effectFromTime": {
            "description": "Effect from time.",
            "type": "string"
          },
          "effectToTime": {
            "nullable": true,
            "description": "Effect to time.",
            "type": "string"
          },
          "affectedService": {
            "description": "Affected service.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "affectedCountry": {
            "description": "Affected country.",
            "type": "array",
            "items": {
              "properties": {
                "countryCode": {
                  "description": "Country code.",
                  "type": "string"
                },
                "countryName": {
                  "description": "Country name.",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "affectedProvider": {
            "nullable": true,
            "description": "Affected provider.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "leiValidationResponse-schema": {
        "title": "leiValidationResponse",
        "description": "LeiValidationResponse object.",
        "properties": {
          "validationId": {
            "description": "Unique id of the validation.",
            "type": "string",
            "example": "1234567890"
          },
          "searchMethod": {
            "description": "The type of search (e.g. LEI).",
            "type": "string",
            "example": "LEI"
          },
          "searchValue": {
            "description": "Search value in string format.",
            "type": "string",
            "example": "549300FP3BGN4PR70F30"
          },
          "validationOptions": {
            "properties": {
              "isinPageNumber": {
                "description": "Pagination setting for LEI list, number of the page.",
                "type": "number"
              },
              "isinPageSize": {
                "description": "Pagination setting for LEI list, number of items in the result set.",
                "type": "number"
              }
            },
            "type": "object"
          },
          "status": {
            "$ref": "#/components/schemas/status-schema"
          },
          "estimatedDeliverySeconds": {
            "$ref": "#/components/schemas/estimatedDeliverySeconds-schema"
          },
          "requestTime": {
            "$ref": "#/components/schemas/requestTime-schema"
          },
          "responseTime": {
            "$ref": "#/components/schemas/responseTime-schema"
          },
          "searchResults": {
            "type": "array",
            "items": {
              "properties": {
                "kompanyId": {
                  "$ref": "#/components/schemas/kompanyId-schema"
                },
                "entityValidation": {
                  "$ref": "#/components/schemas/entityValidation-schema"
                },
                "source": {
                  "$ref": "#/components/schemas/sourceProvider-schema"
                }
              },
              "type": "object"
            }
          }
        },
        "type": "object"
      },
      "associatedEntities-schema": {
        "title": "associatedEntities",
        "properties": {
          "shareholders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/shareholders-schema"
            }
          },
          "officers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/officers-schema"
            }
          },
          "ultimateBeneficialOwners": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ultimateBeneficialOwners-schema"
            }
          },
          "jointShareholders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/jointShareholders-schema"
            }
          }
        },
        "type": "object"
      },
      "additionalAssociatedEntityData-beneficialOwner-schema": {
        "title": "additionalAssociatedEntityData-beneficialOwner",
        "properties": {
          "formattedAddress": {
            "$ref": "#/components/schemas/formattedAddress-schema"
          },
          "status": {
            "type": "string"
          },
          "localName": {
            "type": "string"
          },
          "occupation": {
            "type": "string"
          },
          "officers": {
            "description": "The value is applicable exclusively to entities based in the US-CA region.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/officers-schema"
            }
          },
          "signatoryRights": {
            "type": "string"
          },
          "meansOfControl": {
            "type": "array",
            "items": {
              "properties": {
                "boMeansOfControl": {
                  "type": "string"
                },
                "ownershipTypeDetails": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ownershipTypeDetails-schema"
                  }
                }
              },
              "type": "object"
            }
          }
        },
        "type": "object"
      },
      "additionalData-schema": {
        "title": "additionalData",
        "properties": {
          "capitalCurrency": {
            "description": "The currency of the capital.",
            "type": "string"
          },
          "businessAreas": {
            "description": "Refers to the geographical region within which a company operates (e.g. New Zealand).",
            "type": "string"
          },
          "residenceCountry": {
            "description": "The country where the entity is officially registered.",
            "type": "string"
          },
          "subClass": {
            "description": "The sub class of the legal form.",
            "type": "string"
          },
          "otherIdentifiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/otherIdentifier-schema"
            }
          },
          "otherNames": {
            "$ref": "#/components/schemas/otherNames-schema"
          },
          "contactInformation": {
            "$ref": "#/components/schemas/contactInformation-schema"
          },
          "branches": {
            "description": "Branches or subsidiaries of a company.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/branches-schema"
            }
          },
          "shares": {
            "$ref": "#/components/schemas/shares-schema"
          },
          "shareCapitals": {
            "description": "The capital contributed by the shareholders.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/shareCapitalItem-schema"
            }
          },
          "legalEvents": {
            "properties": {
              "incorporationDate": {
                "description": "The date the company was incorporated. This date is same as or earlier than the registration date.",
                "type": "string"
              },
              "registrationDate": {
                "description": "The date the company was registered. This date is same as or after the incorporation date.",
                "type": "string"
              },
              "dissolutionDate": {
                "description": "The date the company was dissolved.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "registerCourt": {
            "description": "Name of the court where the entity is officially registered.",
            "type": "string"
          },
          "listed": {
            "description": "Boolean showing whether the entity is listed on a stock exchange (e.g. y/n).",
            "type": "string"
          },
          "capitalAmount": {
            "description": "The funds contributed by owners or investors to start or expand a business.",
            "type": "number"
          },
          "legalRepresentative": {
            "description": "The name of the company's legal representative (e.g. China).",
            "type": "string"
          },
          "leiDetails": {
            "description": "Legal Entity Identifier details.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/leiDetails-schema"
            }
          }
        },
        "type": "object"
      },
      "additionalAssociatedEntityData-officer-schema": {
        "title": "additionalAssociatedEntityData-officer",
        "properties": {
          "formattedAddress": {
            "$ref": "#/components/schemas/formattedAddress-schema"
          },
          "status": {
            "type": "string"
          },
          "localName": {
            "type": "string"
          },
          "occupation": {
            "type": "string"
          },
          "officers": {
            "description": "The value is applicable exclusively to entities based in the US-CA region.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/officers-schema"
            }
          },
          "type": {
            "type": "string"
          },
          "meansOfControl": {
            "type": "array",
            "items": {
              "properties": {
                "boMeansOfControl": {
                  "type": "string"
                },
                "ownershipTypeDetails": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ownershipTypeDetails-schema"
                  }
                }
              },
              "type": "object"
            }
          },
          "signatoryRights": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "additionalAssociatedEntityData-shareholder-schema": {
        "title": "additionalAssociatedEntityData-shareholder",
        "properties": {
          "formattedAddress": {
            "$ref": "#/components/schemas/formattedAddress-schema"
          },
          "status": {
            "type": "string"
          },
          "localName": {
            "type": "string"
          },
          "occupation": {
            "type": "string"
          },
          "officers": {
            "description": "The value is applicable exclusively to entities based in the US-CA region.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/officers-schema"
            }
          },
          "type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "ultimateBeneficialOwners-schema": {
        "title": "ultimateBeneficialOwners",
        "description": "The value is available only for enhanced datasets.",
        "properties": {
          "name": {
            "description": "The name of the associated entity in the company.",
            "type": "string",
            "x-sorting": "0010"
          },
          "role": {
            "description": "The role of the associated entity within the company.",
            "type": "string",
            "x-sorting": "0023"
          },
          "providedRole": {
            "description": "The role of the associated entity within the company. In original language in cases where it is provided by the Register.",
            "type": "string",
            "x-sorting": "0031"
          },
          "isCorporate": {
            "description": "Boolean indicating whether the associated entity is a corporate entity.",
            "type": "boolean",
            "x-sorting": "0041"
          },
          "registrationNumber": {
            "description": "The registration number of a associated entity.",
            "type": "string",
            "x-sorting": "0052"
          },
          "legalForm": {
            "description": "The associated entity's legal form.",
            "type": "string",
            "x-sorting": "0060"
          },
          "address": {
            "description": "The address associated with the associated entity.",
            "type": "string",
            "x-sorting": "0070"
          },
          "startDate": {
            "description": "The date the associated entity started their role.",
            "type": "string",
            "x-sorting": "0080"
          },
          "endDate": {
            "description": "The date the associated entity ended their role.",
            "type": "string",
            "x-sorting": "0090"
          },
          "status": {
            "description": "The status of a beneficial owner, which typically refers to their relationship with an entity or asset.",
            "type": "string",
            "x-sorting": "0095"
          },
          "sharePercentage": {
            "description": "The percentage of the share compared to the total.",
            "type": "string",
            "x-sorting": "0096"
          },
          "dateOfBirth": {
            "description": "The date of birth of the associated entity.",
            "type": "string",
            "x-sorting": "0100"
          },
          "nationality": {
            "description": "The nationality of the associated entity.",
            "type": "string",
            "x-sorting": "0110"
          },
          "identityDocument": {
            "description": "The identity document of the associated entity.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-sorting": "0120"
          },
          "personalId": {
            "description": "The personalId of the associated entity.",
            "type": "string",
            "x-sorting": "0130"
          },
          "residenceCountry": {
            "description": "The residence country of the associated entity.",
            "type": "string",
            "x-sorting": "0140"
          },
          "additionalAssociatedEntityData": {
            "$ref": "#/components/schemas/additionalAssociatedEntityData-beneficialOwner-schema"
          }
        },
        "type": "object"
      },
      "calculatedBeneficialOwnershipIntermediarie-schema": {
        "title": "calculatedBeneficialOwnershipIntermediarie",
        "properties": {
          "name": {
            "description": "This field indicates the full name of the Beneficial owner. It should always be provided.",
            "type": "string"
          },
          "gender": {
            "description": "Gives the gender of the beneifical owner. Can take 2 values : F for Female or M for Male. Can be empty.",
            "type": "string"
          },
          "dateOfBirth": {
            "description": "Gives the brithdate of the beneficial owner if available, can be complete (DD/MM/YYYY) or not (MM/YYYY or YYYY).",
            "type": "string"
          },
          "address": {
            "description": "Gives the address of the Beneficial owner intermediary. This field includes the street, the number of the building where the entity is located and the number of the floor of the building if available.",
            "type": "string"
          },
          "country": {
            "description": "Gives the country of the Beneficial owner intermediary.",
            "type": "string"
          },
          "distance": {
            "description": "Gives the distance between the concerned entity (Beneficial owner intermediaries) and its Benefecial owner. If the distance is 4, it means that the BOI is the fourth entity in the path to the BO.",
            "type": "string"
          },
          "ownership": {
            "type": "object"
          },
          "informationDate": {
            "description": "Date when the link between the shareholder and the company just below in the BO path has been confirmed. Date format is MM/YYYY.",
            "type": "string"
          },
          "screening": {
            "$ref": "#/components/schemas/screening-schema"
          }
        },
        "type": "object"
      },
      "calculatedBeneficialOwnershipPath-schema": {
        "title": "calculatedBeneficialOwnershipPath",
        "description": "calculatedBeneficialOwnershipPath data object.",
        "properties": {
          "name": {
            "description": "This field indicates the full name of the Beneficial owner. It should always be provided.",
            "type": "string"
          },
          "gender": {
            "description": "Gives the gender of the beneifical owner. Can take 2 values : F for Female or M for Male. Can be empty.",
            "type": "string"
          },
          "dateOfBirth": {
            "description": "Gives the brithdate of the beneficial owner if available, can be complete (DD/MM/YYYY) or not (MM/YYYY or YYYY).",
            "type": "string"
          },
          "address": {
            "description": "Gives the address of the Beneficial owner intermediary. This field includes the street, the number of the building where the entity is located and the number of the floor of the building if available.",
            "type": "string"
          },
          "country": {
            "description": "Gives the country of the Beneficial owner intermediary.",
            "type": "string"
          },
          "distance": {
            "description": "Gives the distance between the concerned entity (Beneficial owner intermediaries) and its Benefecial owner. If the distance is 4, it means that the BOI is the fourth entity in the path to the BO.",
            "type": "string"
          },
          "ownership": {
            "type": "object"
          },
          "informationDate": {
            "description": "Date when the link between the shareholder and the company just below in the BO path has been confirmed. Date format is MM/YYYY.",
            "type": "string"
          },
          "screening": {
            "$ref": "#/components/schemas/screening-schema"
          },
          "calculatedBeneficialOwnershipIntermediaries": {
            "type": "array",
            "items": {
              "type": "object",
              "allOf": [
                {
                  "$ref": "#/components/schemas/calculatedBeneficialOwnershipIntermediarie-schema"
                }
              ]
            }
          }
        },
        "type": "object"
      },
      "datasetCompanyContent-schema": {
        "title": "datasetCompanyContent",
        "description": "The root dataset company object.",
        "properties": {
          "kompanyId": {
            "description": "Unique id of company element in subject. Static for a company for the lifetime.",
            "type": "string",
            "example": "B3F56CBD8A61B7744D7670610F639C8A",
            "x-sorting": "0010"
          },
          "countryCode": {
            "description": "2 or 5-digit code for the country (e.g. AT, US-DE).",
            "type": "string",
            "example": "AT,US-DE",
            "x-sorting": "0020"
          },
          "countryName": {
            "description": "The name of the country where the company is registered.",
            "type": "string",
            "example": "Austria",
            "x-sorting": "0021"
          },
          "state": {
            "description": "This is the specific state being represented in the United States.",
            "type": "string",
            "example": "Alabama",
            "x-sorting": "0022"
          },
          "registrationNumber": {
            "description": "Registration number of a company preceeded by the country code.",
            "type": "string",
            "example": "340561a",
            "x-sorting": "0030"
          },
          "name": {
            "description": "Name of the legal entity.",
            "type": "string",
            "example": "Moody's Analytics Austria GmbH",
            "x-sorting": "0040"
          },
          "status": {
            "description": "The current status of the company, derived from registry data, mapped categories.",
            "type": "string",
            "enum": [
              "LIVE",
              "CLOSED",
              "NOT REPORTED"
            ],
            "x-sorting": "0050"
          },
          "providedStatus": {
            "description": "The legal status of the company. In original language in cases where it is provided by the register.",
            "type": "string",
            "x-sorting": "0060"
          },
          "address": {
            "description": "Official address of the company.",
            "type": "string",
            "x-sorting": "0070"
          },
          "legalForm": {
            "description": "The legal form of the company. In original language in cases where it is provided by the Register.",
            "type": "string",
            "x-sorting": "0080"
          },
          "associatedEntities": {
            "nullable": true,
            "description": "Associated entities object.",
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/associatedEntities-schema"
              }
            ],
            "x-sorting": "0140"
          },
          "industryActivityCode": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/industryActivityCode-schema"
              }
            ],
            "x-sorting": "0170"
          },
          "providerSpecificData": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/providerSpecificData-schema"
              }
            ],
            "x-sorting": "0180"
          },
          "sources": {
            "title": "sources",
            "description": "Sources object.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sourceProvider-schema"
            },
            "x-sorting": "0220"
          },
          "version": {
            "description": "company-v2.0",
            "type": "string",
            "x-sorting": "0300"
          },
          "additionalData": {
            "$ref": "#/components/schemas/additionalData-schema"
          }
        },
        "type": "object"
      },
      "datasetCompanyLevContent-schema": {
        "title": "datasetCompanyLevContent",
        "description": "The dataset response for LEV company object.",
        "properties": {
          "kompanyId": {
            "description": "Unique id of company element in subject. Static for a company for the lifetime.",
            "type": "string",
            "example": "B3F56CBD8A61B7744D7670610F639C8A",
            "x-sorting": "0010"
          },
          "countryCode": {
            "description": "2 or 5-digit code for the country (e.g. AT, US-DE).",
            "type": "string",
            "example": "AT,US-DE",
            "x-sorting": "0020"
          },
          "countryName": {
            "description": "The name of the country where the company is registered.",
            "type": "string",
            "example": "Austria",
            "x-sorting": "0021"
          },
          "state": {
            "description": "This is the specific state being represented in the United States.",
            "type": "string",
            "example": "Alabama",
            "x-sorting": "0022"
          },
          "registrationNumber": {
            "description": "Registration number of a company preceeded by the country code.",
            "type": "string",
            "example": "340561a",
            "x-sorting": "0030"
          },
          "name": {
            "description": "Name of the legal entity.",
            "type": "string",
            "example": "Moody's Analytics Austria GmbH",
            "x-sorting": "0040"
          },
          "status": {
            "description": "The current status of the company, derived from registry data, mapped categories.",
            "type": "string",
            "enum": [
              "LIVE",
              "CLOSED",
              "NOT REPORTED"
            ],
            "x-sorting": "0050"
          },
          "providedStatus": {
            "description": "The legal status of the company. In original language in cases where it is provided by the register.",
            "type": "string",
            "x-sorting": "0060"
          },
          "addresses": {
            "description": "Official address of the company.",
            "type": "array",
            "items": {
              "properties": {
                "addressLine": {
                  "description": "Returns the type of address listed in the 'addressLine' field.",
                  "type": "string",
                  "example": "Floragasse 7, 1040, Wien, AUT"
                },
                "addressType": {
                  "description": "Returns the type of address listed in the 'address' field.",
                  "type": "string",
                  "example": "Registered Address"
                }
              },
              "type": "object"
            },
            "x-sorting": "0070"
          },
          "legalForm": {
            "description": "The legal form of the company. In original language in cases where it is provided by the Register.",
            "type": "string",
            "x-sorting": "0080"
          },
          "standardisedLegalForm": {
            "description": "The standardised version of the company's national legal form.",
            "type": "string",
            "x-sorting": "0090"
          },
          "entityType": {
            "description": "Entities are given a 'type' according to the classification.",
            "type": "string",
            "enum": [
              "Insurance company",
              "Private equity firm",
              "Venture capital",
              "Public authority/State/Government",
              "Financial company",
              "Hedge fund",
              "Foundation/Research institute",
              "Bank",
              "Corporate",
              "Mutual and pension fund/Nominee/Trust/Trustee",
              "Marine vessels",
              "Small company",
              "Medium sized company",
              "Very large company"
            ],
            "x-sorting": "0100"
          },
          "otherNames": {
            "properties": {
              "englishNames": {
                "description": "The name of the company in English, if different from the official name.",
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "alsoKnownAs": {
                "description": "Any other names the company is known as.",
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "previousNames": {
                "description": "Any previous name of the company.",
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "type": "object",
            "x-sorting": "0110"
          },
          "otherIdentifiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/otherIdentifier-schema"
            },
            "x-sorting": "0120"
          },
          "legalEvents": {
            "properties": {
              "incorporationDate": {
                "description": "The date the company was incorporated. This date is same as or earlier than the registration date.",
                "type": "string"
              },
              "registrationDate": {
                "description": "The date the company was registered. This date is same as or after the incorporation date.",
                "type": "string"
              },
              "dissolutionDate": {
                "description": "The date the company was dissolved",
                "type": "string"
              }
            },
            "type": "object",
            "x-sorting": "0130"
          },
          "associatedEntities": {
            "nullable": true,
            "description": "Associated entities object.",
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/associatedEntities-schema"
              }
            ],
            "x-sorting": "0140"
          },
          "registrationAuthority": {
            "description": "The name of the authority that registered the company.",
            "type": "string",
            "x-sorting": "0150"
          },
          "industryActivityCode": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/industryActivityCode-schema"
              }
            ],
            "x-sorting": "0170"
          },
          "screening": {
            "allOf": [
              {
                "$ref": "#/components/schemas/screening-schema"
              }
            ],
            "x-sorting": "0180"
          },
          "productRegisterReport": {
            "properties": {
              "orderId": {
                "description": "Unique id of the order.",
                "type": "string"
              },
              "orderInfo": {
                "description": "URL to retrieve metadata for the order.",
                "type": "string"
              },
              "orderContent": {
                "description": "URL to retrieve the result (content) of the order.",
                "type": "string"
              }
            },
            "type": "object",
            "x-sorting": "0190"
          },
          "pdfExtract": {
            "properties": {
              "orderId": {
                "description": "Unique id of the order.",
                "type": "string"
              },
              "orderInfo": {
                "description": "URL to retrieve metadata for the order.",
                "type": "string"
              },
              "orderContent": {
                "description": "URL to retrieve the result (content) of the order.",
                "type": "string"
              }
            },
            "type": "object",
            "x-sorting": "0200"
          },
          "calculatedBeneficialOwnershipPath": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/calculatedBeneficialOwnershipPath-schema"
            },
            "x-sorting": "0210"
          },
          "sources": {
            "title": "sources",
            "description": "Sources object.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sourceProvider-schema"
            },
            "x-sorting": "0220"
          },
          "version": {
            "description": "kyb-v2.0",
            "type": "string",
            "x-sorting": "0300"
          },
          "additionalData": {
            "$ref": "#/components/schemas/additionalData-schema"
          }
        },
        "type": "object"
      },
      "screening-schema": {
        "title": "screening",
        "properties": {
          "sanctioned": {
            "description": "Boolean that indicates whether the entity has been flagged as Sanctioned.",
            "type": "boolean"
          },
          "watchlist": {
            "description": "Boolean that indicates whether the entity has been flagged as appearing on a Watchlist.",
            "type": "boolean"
          },
          "pep": {
            "description": "Boolean that indicates whether the entity has been flagged as a Politically Exposed Person.",
            "type": "boolean"
          },
          "adverseMedia": {
            "description": "Boolean that indicates whether the entity has been flagged as appearing in Adverse Media.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "formattedAddress-schema": {
        "title": "formattedAddress",
        "description": "Object providing address representation in a standardized way, with all properties optional and subject to variation across jurisdictions, accommodating global address formats.",
        "properties": {
          "careOf": {
            "description": "The addressee of the entity's address.",
            "type": "string",
            "example": "Jonathan Messerschmidt"
          },
          "number": {
            "description": "The number of the entity's address.",
            "type": "string",
            "example": "129"
          },
          "box": {
            "description": "The box of the entity's address.",
            "type": "string",
            "example": "Boîte 5"
          },
          "poBox": {
            "description": "The poBox of the entity's address.",
            "type": "string",
            "example": "94"
          },
          "addressLine1": {
            "description": "The addressLine1 of the entity's address.",
            "type": "string",
            "example": "13334 SOUTHSHORE DR"
          },
          "addressLine2": {
            "description": "The addressLine2 of the entity's address.",
            "type": "string",
            "example": "FAS BUSINESS AVENUE 1 JALAN PERBANDARAN,P.JAYA"
          },
          "street": {
            "description": "The street of the entity's address.",
            "type": "string",
            "example": "13334 SOUTHSHORE DR"
          },
          "postCode": {
            "description": "The postcode of the entity's address.",
            "type": "string",
            "example": "47520"
          },
          "zip": {
            "description": "ZIP code of the entity's  address.",
            "type": "string",
            "example": "1040"
          },
          "district": {
            "description": "The district of the entity's address.",
            "type": "string",
            "example": "Edmonton"
          },
          "city": {
            "description": "The city of the entity's address.",
            "type": "string",
            "example": "CONROE"
          },
          "prefecture": {
            "description": "The prefecture of the entity's address.",
            "type": "string",
            "example": "Tokyo-to"
          },
          "region": {
            "description": "The region of the entity's address.",
            "type": "string",
            "example": "København Ø"
          },
          "state": {
            "description": "The State in which an entities address is located, when it is located in the United States;",
            "type": "string",
            "example": "TX"
          },
          "country": {
            "description": "The ISO code of the country  of the entity's address, according the ISO 3166-1 alpha-2 standard.",
            "type": "string",
            "example": "England"
          },
          "countryCode": {
            "description": "Country code of the address provided by jurisdiction.",
            "type": "string",
            "example": "US"
          },
          "extra": {
            "description": "The extra information of the entity's address.",
            "type": "string",
            "example": "KØBENHAVN"
          },
          "addon": {
            "description": "Additional line specifying the department, office, or unit number within a larger complex or building.",
            "type": "string",
            "example": "Aargau Services Standortförderung"
          },
          "extraAddressDetails": {
            "description": "Additional address details.",
            "properties": {
              "endDate": {
                "description": "The end date of the entity's address.",
                "type": "string",
                "example": "2020-12-31"
              }
            },
            "type": "object"
          }
        },
        "type": "object"
      },
      "jointShareholders-schema": {
        "title": "jointShareholder",
        "description": "JointShareholder data object.",
        "properties": {
          "shareCapitals": {
            "description": "The capital contributed by the shareholder. Depending on what the source is providing, the list can have more or less properties (available in Australia)",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/shareCapitalItem-schema"
            }
          },
          "shareCurrency": {
            "description": "The currency of the share.",
            "type": "number"
          },
          "sharePercentage": {
            "description": "The percentage of the share compared to the total.",
            "type": "number"
          },
          "role": {
            "description": "The role of the joint shareholders within the company.",
            "type": "string"
          },
          "shareholders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/shareholders-schema"
            }
          }
        },
        "type": "object"
      },
      "leiDetails-schema": {
        "title": "leiDetails",
        "description": "lei Details data object.",
        "properties": {
          "leiLegalEntityIdentifier": {
            "description": "LEI identifier.",
            "type": "string"
          },
          "issuedDate": {
            "description": "The date of the LEI assignment, the field is only visible if the identifierName is LEI.",
            "type": "string"
          },
          "renewalDate": {
            "description": "The date of the LEI annual renewal, the field is only visible if the identifierName is LEI.",
            "type": "string"
          },
          "leiStatus": {
            "description": "The LEI status, the field is only visible if the identifierName is LEI.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "officers-schema": {
        "title": "officer",
        "properties": {
          "name": {
            "description": "The name of the associated entity in the company.",
            "type": "string",
            "x-sorting": "0010"
          },
          "membershipDate": {
            "description": "The date the officer started the membership.",
            "type": "string",
            "x-sorting": "0020"
          },
          "role": {
            "description": "The role of the associated entity within the company.",
            "type": "string",
            "x-sorting": "0023"
          },
          "providedRole": {
            "description": "The role of the associated entity within the company. In original language in cases where it is provided by the Register.",
            "type": "string",
            "x-sorting": "0031"
          },
          "isCorporate": {
            "description": "Boolean indicating whether the associated entity is a corporate entity.",
            "type": "boolean",
            "x-sorting": "0041"
          },
          "registrationNumber": {
            "description": "The registration number of a associated entity.",
            "type": "string",
            "x-sorting": "0052"
          },
          "address": {
            "description": "The address associated with the associated entity.",
            "type": "string",
            "x-sorting": "0070"
          },
          "startDate": {
            "description": "The date the associated entity started their role.",
            "type": "string",
            "x-sorting": "0080"
          },
          "endDate": {
            "description": "The date the associated entity ended their role.",
            "type": "string",
            "x-sorting": "0090"
          },
          "dateOfBirth": {
            "description": "The date of birth of the associated entity.",
            "type": "string",
            "x-sorting": "0100"
          },
          "nationality": {
            "description": "The nationality of the associated entity.",
            "type": "string",
            "x-sorting": "0110"
          },
          "identityDocument": {
            "description": "The identity document of the associated entity.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-sorting": "0120"
          },
          "personalId": {
            "description": "The personalId of the associated entity.",
            "type": "string",
            "x-sorting": "0130"
          },
          "residenceCountry": {
            "description": "The residence country of the associated entity.",
            "type": "string",
            "x-sorting": "0140"
          },
          "additionalAssociatedEntityData": {
            "$ref": "#/components/schemas/additionalAssociatedEntityData-officer-schema"
          }
        },
        "type": "object"
      },
      "otherIdentifier-schema": {
        "title": "otherIdentifier",
        "description": "OtherIdentifier data object.",
        "properties": {
          "identifierName": {
            "description": "The type of the identifier.",
            "type": "string"
          },
          "identifierValue": {
            "description": "The value of the identifier.",
            "type": "string"
          },
          "issuedDate": {
            "description": "The date of the LEI assignment, the field is only visible if the identifierName is LEI.",
            "type": "string"
          },
          "renewalDate": {
            "description": "The date of the LEI annual renewal, the field is only visible if the identifierName is LEI.",
            "type": "string"
          },
          "leiStatus": {
            "description": "The LEI status, the field is only visible if the identifierName is LEI.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "providerSpecificData-schema": {
        "title": "providerSpecificData",
        "description": "Provider specific data object.",
        "properties": {
          "dateOfLicense": {
            "description": "It is a specific date on which a business was officially granted its operating license or permit by the relevant regulatory authority.",
            "type": "string"
          },
          "nextDueDate": {
            "description": "Indicates the future date up to which the next set of financial statements will be prepared.",
            "type": "string"
          },
          "madeUpDate": {
            "description": "Indicates the most recent date for which the company's financial statements have been prepared.",
            "type": "string"
          },
          "lastAnnouncementDate": {
            "description": "Refers to the most recent date on which the company made an official announcement or filing to the registry.",
            "type": "string"
          },
          "authorizedCapital": {
            "description": "Refers to the maximum amount of share capital that a company is legally allowed to issue to shareholders, as specified in its corporate charter or articles of incorporation.",
            "type": "string"
          },
          "latestAccounts": {
            "$ref": "#/components/schemas/latestAccounts-schema"
          },
          "asic": {
            "description": "Refers to a unique identifier assigned by the Australian Securities & Investments Commission to a company or business entity for regulatory and identification purposes.",
            "type": "string"
          },
          "abn": {
            "description": "Refers to a unique 11-digit identifier issued by the Australian Business Register to all businesses in Australia for taxation and other business-related activities.",
            "type": "string"
          },
          "code": {
            "description": "Indicates the prefix used in Cyprus company registration number.",
            "type": "string"
          },
          "pesel": {
            "description": "Refers to a unique 11-digit national identification number assigned to individuals for use in governmental, administrative, and business registry processes, not directly applicable to businesses but to individuals, including sole proprietors.",
            "type": "string"
          },
          "regon": {
            "description": "REGON (Regionalny Ewidencji Gospodarczej) is a 9-digit identification number used in Poland to register legal entities and individuals and their activities.",
            "type": "string"
          },
          "siretNumber": {
            "description": "Refers to a 14-digit code used to uniquely identify each physical location of a business for administrative and regulatory purposes within the national business registry.",
            "type": "string"
          },
          "isHeadquarter": {
            "description": "Refers to a boolean value, when true, signifies the company entry represents the main office or central headquarters, and when false, indicates the entry is not the headquarters but rather a branch or subsidiary location.",
            "type": "boolean"
          },
          "exchange": {
            "description": "Refers to a marketplace where securities, such as stocks and bonds, are bought and sold, and the term is used to categorize and identify the specific trading platform on which a company's securities are listed.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "jurisdiction": {
            "description": "Specifies the state in which a company was initially incorporated or legally established.",
            "type": "string"
          },
          "residency": {
            "description": "Refers to classification of a company based on its primary location of operation or incorporation within the country. Possible values are domestic or foreign.",
            "type": "string"
          },
          "fiscalYearEnd": {
            "description": "Indicates the date marking the end of a company's accounting year, upon which its annual financial reports are based.",
            "type": "string"
          },
          "insiderTransactionForOwnerExists": {
            "description": "Signifies whether there have been any financial transactions involving the company's stock conducted by its executives, directors, or significant shareholders.",
            "type": "string"
          },
          "insiderTransactionForIssuerExists": {
            "description": "Indicates whether there have been any reported transactions involving the company's securities carried out by insiders, such as executives or major shareholders, on behalf of the company itself.",
            "type": "string"
          },
          "category": {
            "description": "Describes the classification of the latest set of financial statements, e.g., 'dormant' indicates no significant accounting transactions.",
            "type": "string"
          },
          "stateOfIncorporationDescription": {
            "description": "Refers to the text detailing the specific U.S. state under whose laws the company is registered or incorporated.",
            "type": "string"
          },
          "entityType": {
            "description": "Entities are given a 'type' according to the following classification: Insurance company, NULL, Private equity firm, Venture capital, Public authority/State/Government, Financial company, Hedge fund, Foundation/Research institute, Bank, Corporate, Mutual and pension fund/Nominee/Trust/Trustee, Marine vessels, Small company, Medium sized company, Very large company",
            "type": "string"
          },
          "businessLicences": {
            "description": "Refers to the official permits or licenses a company holds, indicating the range or scope of activities it is legally authorized to conduct.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/businessLicenceItems-schema"
            }
          },
          "signatoryRights": {
            "description": "Authority granted to an individual to enter into contracts on behalf of a legal entity.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "shareCapitalItem-schema": {
        "title": "shareCapitalItem",
        "properties": {
          "numberOfShares": {
            "description": "The number of shares owned by the shareholder.",
            "type": "string"
          },
          "shareType": {
            "description": "The type of share owned by the shareholder.",
            "type": "string"
          },
          "percentage": {
            "description": "The percentage of shares owned by the shareholder.",
            "type": "string"
          },
          "isBeneficiallyOwned": {
            "description": "Boolean indicating whether the shares are beneficially owned.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "shareholders-schema": {
        "title": "shareholder",
        "properties": {
          "name": {
            "description": "The name of the associated entity in the company.",
            "type": "string",
            "x-sorting": "0010"
          },
          "role": {
            "description": "The role of the associated entity within the company.",
            "type": "string",
            "x-sorting": "0023"
          },
          "providedRole": {
[...]
